body
{
	margin-top: 10%;
	background-image:url("https://i.pinimg.com/originals/ac/8a/87/ac8a87523f31e4184c93179a1e98403d.png");
	background-repeat: no-repeat; 
	background-size: cover;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#login
{
	background-color: lightblue;
}

.score
{
	color :white;
}



